In [3]:
import pandas as pd

greed_file_name = "Greed_index.csv"
historical_file_name = "historical_data.csv"
merged_file_name = "merged_data.csv"

greed_df = pd.read_csv('csv_files\Greed_index.csv')
historical_df = pd.read_csv('csv_files\historical_data.csv')

greed_df = greed_df.rename(columns={'date': 'formatted_date'})
greed_df = greed_df[['formatted_date', 'value', 'classification']]

historical_df['formatted_date'] = historical_df['Timestamp IST'].str.split(' ').str[0]
historical_df['formatted_date'] = pd.to_datetime(historical_df['formatted_date'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

merged_df = pd.merge(historical_df, greed_df, on='formatted_date', how='left')

merged_df = merged_df.drop(columns=['formatted_date'])

merged_df.to_csv(merged_file_name, index=False)

print(f"Data successfully merged into '{merged_file_name}' using pandas.")

Data successfully merged into 'merged_data.csv' using pandas.

In [ ]:
df=pd.read_csv('csv_files\merged_data.csv')
df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,value,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,80.0,Extreme Greed
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,80.0,Extreme Greed
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,80.0,Extreme Greed
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,80.0,Extreme Greed
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,80.0,Extreme Greed

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211224 entries, 0 to 211223
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Account           211224 non-null  object
 1   Coin              211224 non-null  object
 2   Execution Price   211224 non-null  float64
 3   Size Tokens       211224 non-null  float64
 4   Size USD          211224 non-null  float64
 5   Side              211224 non-null  object
 6   Timestamp IST     211224 non-null  object
 7   Start Position    211224 non-null  float64
 8   Direction         211224 non-null  object
 9   Closed PnL        211224 non-null  float64
 10  Transaction Hash  211224 non-null  object
 11  Order ID          211224 non-null  int64
 12  Crossed           211224 non-null  bool
 13  Fee               211224 non-null  float64
 14  Trade ID          211224 non-null  float64
 15  Timestamp         211224 non-null  float64
 16  value             211218 non-null  float64
 17  classification    211218 non-null  object
dtypes: bool(1), float64(9), int64(1), object(7)
memory usage: 27.6+ MB

In [7]:
df.isnull().sum()

Account             0
Coin                0
Execution Price     0
Size Tokens         0
Size USD            0
Side                0
Timestamp IST       0
Start Position      0
Direction           0
Closed PnL          0
Transaction Hash    0
Order ID            0
Crossed             0
Fee                 0
Trade ID            0
Timestamp           0
value               6
classification      6
dtype: int64

In [10]:
classification_mapping = {
    'Extreme Fear': -2,
    'Fear': -1,
    'Neutral': 0,
    'Greed': 1,
    'Extreme Greed': 2
}

# Now, use the .map() method to apply this mapping to the 'classification' column.
df['classification'] = df['classification'].map(classification_mapping)

# The new 'classification_numeric' column will contain the numerical values.
print(df.head())

                                      Account  Coin  Execution Price  \
0  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9769
1  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9800
2  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9855
3  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9874
4  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9894

   Size Tokens  Size USD Side     Timestamp IST  Start Position Direction  \
0       986.87   7872.16  BUY  02-12-2024 22:50        0.000000       Buy
1        16.00    127.68  BUY  02-12-2024 22:50      986.524596       Buy
2       144.09   1150.63  BUY  02-12-2024 22:50     1002.518996       Buy
3       142.98   1142.04  BUY  02-12-2024 22:50     1146.558564       Buy
4         8.73     69.75  BUY  02-12-2024 22:50     1289.488521       Buy

   Closed PnL                                   Transaction Hash     Order ID  \
0         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
1         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
2         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
3         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
4         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630

   Crossed       Fee      Trade ID     Timestamp  value  classification  \
0     True  0.345404  8.950000e+14  1.730000e+12   80.0             2.0
1     True  0.005600  4.430000e+14  1.730000e+12   80.0             2.0
2     True  0.050431  6.600000e+14  1.730000e+12   80.0             2.0
3     True  0.050043  1.080000e+15  1.730000e+12   80.0             2.0
4     True  0.003055  1.050000e+15  1.730000e+12   80.0             2.0

   classification_numeric
0                     2.0
1                     2.0
2                     2.0
3                     2.0
4                     2.0

In [11]:
df.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp', 'value', 'classification', 'classification_numeric'],
      dtype='object')

In [13]:
df.drop(columns='classification_numeric',inplace=True, axis=1)

In [14]:
df.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp', 'value', 'classification'],
      dtype='object')

In [15]:
df.head()

,Account,Coin,Execution Price,Size Tokens,Size USD,Side,Timestamp IST,Start Position,Direction,Closed PnL,Transaction Hash,Order ID,Crossed,Fee,Trade ID,Timestamp,value,classification
0,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9769,986.87,7872.16,BUY,02-12-2024 22:50,0.000000,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.345404,8.950000e+14,1.730000e+12,80.0,2.0
1,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9800,16.00,127.68,BUY,02-12-2024 22:50,986.524596,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.005600,4.430000e+14,1.730000e+12,80.0,2.0
2,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9855,144.09,1150.63,BUY,02-12-2024 22:50,1002.518996,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050431,6.600000e+14,1.730000e+12,80.0,2.0
3,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9874,142.98,1142.04,BUY,02-12-2024 22:50,1146.558564,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.050043,1.080000e+15,1.730000e+12,80.0,2.0
4,0xae5eacaf9c6b9111fd53034a602c192a04e082ed,@107,7.9894,8.73,69.75,BUY,02-12-2024 22:50,1289.488521,Buy,0.0,0xec09451986a1874e3a980418412fcd0201f500c95bac...,52017706630,True,0.003055,1.050000e+15,1.730000e+12,80.0,2.0

In [18]:
df.drop(columns=['Account','Coin','Timestamp IST','Transaction Hash','Order ID','Trade ID','Timestamp'], inplace=True, axis=1)

In [19]:
df.head()

,Execution Price,Size Tokens,Size USD,Side,Start Position,Direction,Closed PnL,Crossed,Fee,value,classification
0,7.9769,986.87,7872.16,BUY,0.000000,Buy,0.0,True,0.345404,80.0,2.0
1,7.9800,16.00,127.68,BUY,986.524596,Buy,0.0,True,0.005600,80.0,2.0
2,7.9855,144.09,1150.63,BUY,1002.518996,Buy,0.0,True,0.050431,80.0,2.0
3,7.9874,142.98,1142.04,BUY,1146.558564,Buy,0.0,True,0.050043,80.0,2.0
4,7.9894,8.73,69.75,BUY,1289.488521,Buy,0.0,True,0.003055,80.0,2.0

In [20]:
df['Closed PnL']

0           0.0000
1           0.0000
2           0.0000
3           0.0000
4           0.0000
            ...
211219    -20.2566
211220   -112.5773
211221    -22.4402
211222   -190.7894
211223    -53.9063
Name: Closed PnL, Length: 211224, dtype: float64

In [21]:
Direction_mapping = {
    'Buy': 1,
    'Sell': -1
}
df['Direction'] = df['Direction'].map(Direction_mapping)
df['Closed PnL'] = df['Closed PnL'].astype(float)
df.head()

,Execution Price,Size Tokens,Size USD,Side,Start Position,Direction,Closed PnL,Crossed,Fee,value,classification
0,7.9769,986.87,7872.16,BUY,0.000000,1.0,0.0,True,0.345404,80.0,2.0
1,7.9800,16.00,127.68,BUY,986.524596,1.0,0.0,True,0.005600,80.0,2.0
2,7.9855,144.09,1150.63,BUY,1002.518996,1.0,0.0,True,0.050431,80.0,2.0
3,7.9874,142.98,1142.04,BUY,1146.558564,1.0,0.0,True,0.050043,80.0,2.0
4,7.9894,8.73,69.75,BUY,1289.488521,1.0,0.0,True,0.003055,80.0,2.0

In [22]:
df['Crossed']

0          True
1          True
2          True
3          True
4          True
          ...
211219    False
211220    False
211221    False
211222    False
211223    False
Name: Crossed, Length: 211224, dtype: bool

In [30]:
crossed_mapping = {
    'True': 1,
    'False': 0
}
df['Crossed'] = df['Crossed'].map(crossed_mapping)
df.head()

,Execution Price,Size Tokens,Size USD,Side,Start Position,Direction,Closed PnL,Crossed,Fee,value,classification
0,7.9769,986.87,7872.16,BUY,0.000000,1.0,0.0,NaN,0.345404,80.0,2.0
1,7.9800,16.00,127.68,BUY,986.524596,1.0,0.0,NaN,0.005600,80.0,2.0
2,7.9855,144.09,1150.63,BUY,1002.518996,1.0,0.0,NaN,0.050431,80.0,2.0
3,7.9874,142.98,1142.04,BUY,1146.558564,1.0,0.0,NaN,0.050043,80.0,2.0
4,7.9894,8.73,69.75,BUY,1289.488521,1.0,0.0,NaN,0.003055,80.0,2.0

In [35]:
df1=pd.read_csv('csv_files\merged_data.csv')

In [36]:
df1.columns

Index(['Account', 'Coin', 'Execution Price', 'Size Tokens', 'Size USD', 'Side',
       'Timestamp IST', 'Start Position', 'Direction', 'Closed PnL',
       'Transaction Hash', 'Order ID', 'Crossed', 'Fee', 'Trade ID',
       'Timestamp', 'value', 'classification'],
      dtype='object')

In [37]:
classification_mapping = {
    'Extreme Fear': -2,
    'Fear': -1,
    'Neutral': 0,
    'Greed': 1,
    'Extreme Greed': 2
}

# Now, use the .map() method to apply this mapping to the 'classification' column.
df1['classification'] = df1['classification'].map(classification_mapping)

# The new 'classification_numeric' column will contain the numerical values.
print(df1.head())

                                      Account  Coin  Execution Price  \
0  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9769
1  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9800
2  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9855
3  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9874
4  0xae5eacaf9c6b9111fd53034a602c192a04e082ed  @107           7.9894

   Size Tokens  Size USD Side     Timestamp IST  Start Position Direction  \
0       986.87   7872.16  BUY  02-12-2024 22:50        0.000000       Buy
1        16.00    127.68  BUY  02-12-2024 22:50      986.524596       Buy
2       144.09   1150.63  BUY  02-12-2024 22:50     1002.518996       Buy
3       142.98   1142.04  BUY  02-12-2024 22:50     1146.558564       Buy
4         8.73     69.75  BUY  02-12-2024 22:50     1289.488521       Buy

   Closed PnL                                   Transaction Hash     Order ID  \
0         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
1         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
2         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
3         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630
4         0.0  0xec09451986a1874e3a980418412fcd0201f500c95bac...  52017706630

   Crossed       Fee      Trade ID     Timestamp  value  classification
0     True  0.345404  8.950000e+14  1.730000e+12   80.0             2.0
1     True  0.005600  4.430000e+14  1.730000e+12   80.0             2.0
2     True  0.050431  6.600000e+14  1.730000e+12   80.0             2.0
3     True  0.050043  1.080000e+15  1.730000e+12   80.0             2.0
4     True  0.003055  1.050000e+15  1.730000e+12   80.0             2.0

In [38]:
df1.drop(columns=['Account','Coin','Timestamp IST','Transaction Hash','Order ID','Trade ID','Timestamp'], inplace=True, axis=1)

In [39]:
Direction_mapping = {
    'Buy': 1,
    'Sell': -1
}
df['Direction'] = df['Direction'].map(Direction_mapping)
df['Closed PnL'] = df['Closed PnL'].astype(float)
df.head()

,Execution Price,Size Tokens,Size USD,Side,Start Position,Direction,Closed PnL,Fee,value,classification
0,7.9769,986.87,7872.16,NaN,0.000000,NaN,0.0,0.345404,80.0,2.0
1,7.9800,16.00,127.68,NaN,986.524596,NaN,0.0,0.005600,80.0,2.0
2,7.9855,144.09,1150.63,NaN,1002.518996,NaN,0.0,0.050431,80.0,2.0
3,7.9874,142.98,1142.04,NaN,1146.558564,NaN,0.0,0.050043,80.0,2.0
4,7.9894,8.73,69.75,NaN,1289.488521,NaN,0.0,0.003055,80.0,2.0