In [3]:
import pandas as pd

greed_file_name = "Greed_index.csv"
historical_file_name = "historical_data.csv"
merged_file_name = "merged_data.csv"

greed_df = pd.read_csv('csv_files\Greed_index.csv')
historical_df = pd.read_csv('csv_files\historical_data.csv')

greed_df = greed_df.rename(columns={'date': 'formatted_date'})
greed_df = greed_df[['formatted_date', 'value', 'classification']]

historical_df['formatted_date'] = historical_df['Timestamp IST'].str.split(' ').str[0]
historical_df['formatted_date'] = pd.to_datetime(historical_df['formatted_date'], format='%d-%m-%Y').dt.strftime('%Y-%m-%d')

merged_df = pd.merge(historical_df, greed_df, on='formatted_date', how='left')

merged_df = merged_df.drop(columns=['formatted_date'])

print(f"Data successfully merged into '{merged_file_name}' using pandas.")

Data successfully merged into 'merged_data.csv' using pandas.

In [4]:
df= pd.read_csv('csv_files\merged_data.csv')

In [5]:
df.drop(columns=['Account','Coin','Timestamp IST','Transaction Hash','Order ID','Trade ID','Timestamp'], inplace=True, axis=1)
Direction_mapping = {
    'Buy': 1,
    'Sell': -1
}
df['Direction'] = df['Direction'].map(Direction_mapping)
df['Closed PnL'] = df['Closed PnL'].astype(float)
df.head()
classification_mapping = {
    'Extreme Fear': -2,
    'Fear': -1,
    'Neutral': 0,
    'Greed': 1,
    'Extreme Greed': 2
}

# Now, use the .map() method to apply this mapping to the 'classification' column.
df['classification'] = df['classification'].map(classification_mapping)

# The new 'classification_numeric' column will contain the numerical values.
print(df.head())

   Execution Price  Size Tokens  Size USD Side  Start Position  Direction  \
0           7.9769       986.87   7872.16  BUY        0.000000        1.0
1           7.9800        16.00    127.68  BUY      986.524596        1.0
2           7.9855       144.09   1150.63  BUY     1002.518996        1.0
3           7.9874       142.98   1142.04  BUY     1146.558564        1.0
4           7.9894         8.73     69.75  BUY     1289.488521        1.0

   Closed PnL  Crossed       Fee  value  classification
0         0.0     True  0.345404   80.0             2.0
1         0.0     True  0.005600   80.0             2.0
2         0.0     True  0.050431   80.0             2.0
3         0.0     True  0.050043   80.0             2.0
4         0.0     True  0.003055   80.0             2.0

In [ ]:
df.drop(columns=['Side','Crossed'], inplace=True, axis=1)
df.head()

,Execution Price,Size Tokens,Size USD,Start Position,Direction,Closed PnL,Fee,value,classification
0,7.9769,986.87,7872.16,0.000000,1.0,0.0,0.345404,80.0,2.0
1,7.9800,16.00,127.68,986.524596,1.0,0.0,0.005600,80.0,2.0
2,7.9855,144.09,1150.63,1002.518996,1.0,0.0,0.050431,80.0,2.0
3,7.9874,142.98,1142.04,1146.558564,1.0,0.0,0.050043,80.0,2.0
4,7.9894,8.73,69.75,1289.488521,1.0,0.0,0.003055,80.0,2.0